<div id="nav-base">
  
  <div class="nav-content">
    <div class="nav-logo btn btn-dark m-2 py-3 rounded-pill px-4">Logo</div>
    <div class="nav-links border-2 m-2 rounded-pill px-4">
      <a href="#"><span class=" py-2 nav-link">Home</span></a>
      <a href="#"><span class=" py-2 nav-link">About</span></a>
      <a href="#"><span class=" py-2 nav-link">Coming</span></a>
      <a href="#"><span class=" py-2 nav-link">Soon</span></a>
      
    </div>
    <div class=" m-2">
      <a href="#"><button class="btn btn-outline-dark shadow-sm py-3 rounded-pill px-5">Login</button></a>
     <a href="#"><button class="btn btn-dark shadow-sm py-3 rounded-pill px-5 ">Signup</button></a>
    </div>

  </div>
</div>
